.toolbarButton {
    margin: 0 16px;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: auto;
    padding-left: 32px;
    padding-right: 32px;
    border-top: 1px solid #ccc;
    max-height: calc(100vh - 64px - 48px);
    scroll-behavior: smooth;
}
